.navbar {
  border: solid black;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-right-width: 0px;
  border-left-width: 0px;
  height: 100px;
  background-color: grey
  }

.navbar-brand { 
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
}

#nav-list {
  margin-top: 4px;
  background-color: dimgrey;
  border: solid black;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-right-width: 2px;
  border-left-width: 2px;
  width: 100%;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: lightgrey;
}
#nav-list a span {
  font-size: 1.8em;
}

.container-fluid {
  padding: 0;
}

#title {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 30px;
}

section {
  margin: 50px;
  background-color: grey;
}

section > div {
  padding: 30px;
}

h5 {
  margin-bottom: 0;
}

#navbarSupportedContent {
  margin-top: 25px;
}
