@media (min-width: 992px) {
	.col-lg-4{
		float: left;
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6{
		float: left;
		width: 50%;
	}
	.col-md-1{
		float: left;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-1{
		float: left;
		width: 100%;
	}
}

body {
  font-family: "Comics Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  font-size: 10px;
  }

header {
	font-size: 175%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

.sec { 
	background-color: #b7bdbc;
	border: 1px solid black;
	overflow: auto;
	margin: 10px;
	position: relative;
	text-align: left;
}	

.stitle {
	position: absolute;
	right: 0px;
	padding: 4px;
	font-size: 125%;
	border: 1px solid black;
	text-align: center;
	width: 20%;
	overflow: auto;
}

.content {
	margin-top: 32px;
	padding: 10px;
	overflow: auto;
	height: 45px;
}

#chicken {
	background-color: #f59c73;
}

#beef {
	background-color: #a8323a;
	color: white;
}

#sushi {
	background-color: #32a892;
}

